/*Some general settings*/

html, body {
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
}

/*Setup font and text (Agency Gothic wants moneeeeeeeey, so I used some similar Google Fonts)*/

h1, h2 {
  font-family: 'Orbitron', sans-serif;
  line-height: 1.5vh;
  letter-spacing: 0.3vh;
  text-shadow: 0.1vh 0.1vh 0.2vh #1d1d1d;
}

h1 {
  font-weight: 700;
  font-size: 2.1vh;
  margin-bottom: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.3vh;
}

h2 strong {
  font-weight: 900;
}

p {
  font-family: 'Teko', sans-serif;
  font-size: 3vh;
  margin: 0;
  margin-right: 2vh;
}

p.copyright {
  font-size: 0.5vh;
  margin-left: 4vh;
}

/*Poster content is here:
with a personal favourite for ratio (thanks vh) and grid for elements position*/

.poster-content {
  margin: 0 auto;
  height: 100vh;
  width: 66vh;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 2vh;
  grid-row-gap: 2vh;
}

.poster-content .logo-container {
  position: relative;
  grid-column: 2 / 9;
  grid-row: 4 / 6;
  justify-self: end;
  align-self: end;
  z-index: 20;
}

.logo-container .ant-man_little-scott {
  width: 5%;
  position: absolute;
  top: -5.2vh;
  left: 48%;
  z-index: 21;
}

.logo-container .ant-man_little-scott--halo {
  position: absolute;
  width: 1vh;
  height: 1vh;
  top: -5vh;
  left: 48%;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 2vh 1.5vh #fff;
}

.logo-container .marvel_logo {
  position: absolute;
  width: 20%;
  top: -4vh;
  left: 40%;
  margin-bottom: 1vh;
  z-index: 21;
}

.logo-container .ant-man_logo {
  width: 27vh;
}

.poster-content .payoff {
  color: #fff;
  grid-column: 1 / 17;
  grid-row: 6 / 8;
  justify-self: center;
  align-self: end;
  z-index: 20;
}

.poster-content .description {
  color: #ada9ac;
  grid-column: 1 / 17;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  z-index: 20;
}

.poster-content .date {
  grid-column: 5 / 13;
  grid-row: 8 / 9;
  justify-self: center;
  align-self: center;
  z-index: 20;
}

.poster-content .ant-man_big-scott {
  height: 100%;
  grid-column: 1 / 17;
  grid-row: 1 / 9;
  justify-self: end;
  align-self: end;
  z-index: 10;
}

.poster-content .ant-man_big-capital-a{
  height: 100%;
  grid-column: 1 / 17;
  grid-row: 1 / 9;
  justify-self: end;
  align-self: end;
}

.poster-content .copyright {
  color: #fff;
  grid-column: 1 / 9;
  grid-row: 8 / 9;
  justify-self: start;
  align-self: center;
  z-index: 20;
}
